{{ ansible_managed }}

parameters:
    database_host: {{ db_comments_host }}
    database_port: {{ db_comments_port }}
    database_name: {{ db_comments_database }}
    database_user: {{ db_comments_username }}
    database_password: {{ db_comments_password }}
    legacy_database_host: {{ db_foodlove_host }}
    legacy_database_port: {{ db_foodlove_port }}
    legacy_database_name: {{ db_foodlove_database }}
    legacy_database_user: {{ db_foodlove_username }}
    legacy_database_password: {{ db_foodlove_password }}
    secret: d45fy7ghc85m2c3hmer92ma
